/*Remove automatic margin and padding from all elements*/
*{
	margin:0;
	padding: 0;
}

img{
	 max-width: 100%;
}

body{
	font-family: 'EB Garamond', serif;
}

/*GENERAL STYLING*/

a{
	text-decoration: none;
	color:black;

}




/*MOBILE NAVIGATION*/
.mobile-navigation{
	display: flex;
  justify-content: space-between;
  float: right;
  position: fixed;
  right: 5%;
  top: 3.5%;
	z-index:2;
}

/*NAVIGATION LINKS*/

.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index:100;
	left: 0;
	top:0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	opacity: 0.8;

}

.overlay-content{
	position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  overflow-x: hidden;
  z-index: 20;
  transform: translateY(-75%);
	-ms-transform: translateY(-75%);

}

.overlay a {
	padding:8px;
	text-decoration: none;
	display: block;
	transition: 0.5s;
	margin-top: 1em;
	overflow-x: hidden;
	font-size:24px;
	transition:0.2s ease;
}

.overlay a:hover{
	font-size:28px;
}

.openbtn{
	cursor: pointer;
	font-size:24px;
	transition:0.2s ease;
	transform-origin: center;
}

.openbtn:hover{
	transform: scale(1.2);
}

.closebtn{
	text-align: right;
	position:absolute;
	transform-origin: center;
	right:5%;
}

/*LOGO*/
.logo{
    position: fixed;
    left: 50%;

    transform: translateX(-50%);
		-ms-transform: translateX(-50%);
}

/*WORKS*/



.work {
	margin-top: 5em;
	display: ;
	margin-left: auto;
	margin-right: auto;
  position: relative;
  width: 50%;
}

.work-image {
  display: block;
  width: 100%;
  height: auto;
}

.work-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
	display: none;

}

.work:hover .work-overlay {
  opacity: .75;
}

.work:hover .work-credits{
	opacity: 1;
}

.work-credits {
  font-size: 20px;
	opacity: 1;
	transition: .5s ease;
	padding-top:0.5em;
	/*
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	*/
}

.work-credits ul{
	list-style-type: none;
}

.photographer, .stylist, .makeup, .assistant{
	font-family:'Roboto';
	font-size: 24px;
	margin-bottom:0.5em;
}

.hair{
	font-family:'Roboto';
	font-size:24px;
}

.photographer-title, .stylist-title, .makeup-title, .assistant-title, .hair-title{
	font-size:12px;
}


/*BLOG*/
.featured-post{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('images/photo_example.jpg');
	background-position: center;
	background-repeat: no-repeat;


}

.featured-post-image{
	max-width: 75vw;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 25%);


}

.featured-post-thumbnail-text{
	position: absolute;
	bottom: 0;
	padding: 0em 1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.featured-post-title{
	padding:0.5em 0;
	border-bottom: 5px solid white;
	line-height: 1.2;
}

.featured-post-introtext{
	font-family:'Roboto';
	font-weight: 400;
	font-size:16px;
	padding: 1em 0;
	line-height: 1.4;
}

.featured-post-bodytext{
	font-family: 'Roboto';
	padding:1em;
	line-height: 1.4;
	display: none;
}

.featured-post-image{
	position: absolute;
	z-index: -1;
}

.featured-readmore-button{
	padding: 1em;
	width: 100%;
	margin: 1em 0;
	background-color: white;
	border: none;
	font-family: 'Roboto';
	font-weight: 600;
	font-size:16px;
	z-index:50;
}

.post{
	padding: 1em;
}

.post-thumbnail-text{
	padding:1em 0;
}

.post-title{
	line-height: 1.2;
}

.post-introtext{
	font-family:'Roboto';
	font-weight: 400;
	font-size:16px;
	padding: 1em 0;
	line-height: 1.4;


}

.readmore-button{
	padding: 1em;
	width: 100%;
	margin: 1em 0;
	background-color: black;
	color: white;
	border: none;
	font-family: 'Roboto';
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;

}


/*CONTACT-PAGE*/

.contact-page-title{
	padding-bottom: 1em;
	text-align: center;
	width: 100%;

}

form.contact-form{
	max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */

  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	font-family: 'Roboto';
	display: block;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
	transition: 0.5s ease;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
	color:black;
	border:2px solid black;
}

/* Add a background color and some padding around the form */
.contact-form-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5em 1.2em;
}

/*ABOUT PAGE*/
.about-page-container{
padding:5em 1em 0em 1em;
}

.about-page-title{
text-align: center;
padding:1em 0;
}

.about-page-image{
	padding-bottom: 1em;
}

.about-page-text{
	padding-bottom:1em;
	line-height: 1.4;
}



/*TABLET*/
@media screen and (min-width: 40em){
	.works-container{
		display: grid;
		grid-template-columns: 1fr 1fr;

	}

}


/*DESKTOP*/
@media screen and (min-width: 60em){




}
