/*Remove automatic margin and padding from all elements*/
*{
	margin:0;
	padding: 0;
}

img{
	 max-width: 100%;
}

/*positioning for the elements of the mobile navigation*/
.mobile-navigation{
	display: flex;
  justify-content: space-between;
  float: right;
  position: fixed;
  right: 5%;
  top: 3.5%;
}

/*mobile navigation menu content*/

/* MENU*/

.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index:100;
	left: 0;
	top:0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	opacity: 0.8;

}

.overlay-content{
	position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  overflow-x: hidden;
  z-index: 20;
  transform: translateY(-75%);

}

.overlay a {
	padding:8px;
	text-decoration: none;
	display: block;
	transition: 0.5s;
	margin-top: 1em;
	overflow-x: hidden;
}

.openbtn{
	cursor: pointer;
}

.closebtn{
	text-align: right;
	position:absolute;
	right:5%;
}

/*Positioning for the logo */
.logo{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}

/*Styling for the works*/



.work {
	margin-top: 10em;
	display: block;
	margin-left: auto;
	margin-right: auto;
  position: relative;
  width: 50%;
}

.work-image {
  display: block;
  width: 100%;
  height: auto;
}

.work-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;

}

.work:hover .work-overlay {
  opacity: .75;
}

.work:hover .work-credits{
	opacity: 1;
}

.work-credits {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
	opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	text-align: center;
}

.work-credits ul{
	list-style-type: none;
}

.photographer, .stylist, .makeup, .assistant{
	padding-bottom: 1em;
}
