/*Remove automatic margin and padding from all elements*/
*{
	margin:0;
	padding: 0;
}

img{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

body{
	font-family: 'Martel Sans', sans-serif;
}

/*GENERAL STYLING*/

a{
	text-decoration: none;
	color:black;

}

button{
	border-radius:3px;
	cursor: pointer;
}





/*NAVIGATION*/
.burger-menu-line-1{
    border-top: 1px solid black;
	width:45px;
	height:2px;
	margin-bottom: 0.5em;
}

.burger-menu-line-2{
    border-bottom: 1px solid black;
	width:45px;
	background-color: black;
}

img.social-link{
  width: 25px;
	padding:0.1em;
}

.social-link-a{
	width:125px;
}

.social-navigation-links{
		width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #DBDBDB;
		display: flex;
	justify-content: center;

}

.nav-bg{
		width: 100%;
    height: 4em;
    opacity: 0.7;
    position: fixed;
    background-color: white;
    top: 0;
}
/*NAVIGATION LINKS*/

.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index:100;
	left: 0;
	top:0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;

}

.overlay-content{
	position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 65px;
  overflow-x: hidden;
  z-index: 20;
  transform: translateY(-60%);
	-ms-transform: translateY(-60%);

}

.overlay a {
	padding:8px;
	text-decoration: none;
	display: block;
	transition: 0.5s;
	margin-top: 1em;
	overflow-x: hidden;
	font-size:24px;
	transition:0.2s ease;
	z-index: 50;
}

.overlay a:hover{
	color: #deb18a;
}

.openbtn{
	cursor: pointer;
	transition:0.2s ease;
	transform-origin: center;
	position: fixed;
	top:1.6em;
	z-index:20;
	right:5%;
}

.openbtn:hover{
	transform: scale(1.2);
}

.closebtn{
	text-align: right;
	position:absolute;
	transform-origin: center;
	right:5%;
}

/*LOGO*/
.logo{
    position: fixed;
    left: 5%;
		width:150px;
		top:1.4em;
		z-index: 50;
		-ms-transform: translateX(-50%);
}

/*LOADER*/
.loader-overlay{
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
    height: 100%;
    background-color: white;
    z-index: 55;
		transition: opacity 0.6s ease;
}


.loader-video{
	width: 75%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
		transition: opacity 0.6s ease;
}

/*DOWN-ARROW*/

.down-arrow{
	display: none;
}
/*WORKS*/

.work-bg{
	display: none;
	position: fixed;
	width: 100%;
	height: 50%;
	background-color: lavenderblush;
	bottom: 0;
	z-index: -10;
}

.work {
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
  position: relative;
  width: 75%;
	z-index: -1;
}

.work-image {
  display: block;
	width: 100%;
  height: auto;
	z-index: -1;
}

.work-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
	display: none;

}

.work:hover .work-overlay {
  opacity: .75;
}

.work:hover .work-credits{
	opacity: 1;
}

.work-credits {
  font-size: 20px;
	opacity: 0.8;
	transition: .5s ease;
	padding-top:0.5em;
	/*
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	*/
}

.work-credits ul{
	list-style-type: none;
}

.photographer{
	display: inline;
	font-size: 11px;
	margin-bottom:0.5em;
    color: #666;
}



.photographer-title{
	display: inline;
	font-size:11px;
}


/*BLOG*/
.featured-post{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.featured-post-image{
	max-width: 75vw;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 25%);


}

.featured-post-thumbnail-text{
	position: absolute;
	bottom: 0;
	padding: 0em 1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.featured-post-title{
	padding:0.5em 0;
	line-height: 1.2;
    font-size: 1.7em;
}

hr{
	width:150px;
	height: 1px;
	background-color: white;
}

.featured-post-introtext{
	font-size:16px;
	padding: 1em 0;
	line-height: 1.4;
	font-family: 'Martel Sans';
  font-weight: 100;
}

.featured-post-bodytext{
	padding:1em;
	line-height: 1.4;
	display: none;
}

.featured-post-image{
	position: absolute;
	z-index: 2;
}

.featured-readmore-button{
	padding: 1em;
	width: 100%;
	margin: 1em 0;
	background-color: white;
	border: none;
	font-weight: 600;
	font-size:16px;
	z-index:50;
	cursor: pointer;
}

.post{
	padding: 1em;
}

.post-thumbnail-text{
	padding:1em 0;
}

.post-title{
	line-height: 1.2;
}

.post-introtext{
	font-size:14px;
	padding: 1em 0;
	line-height: 1.4;
  font-family: 'Martel Sans';
  font-weight: 400;


}

.readmore-button{
	padding: 1em;
	width: 100%;
	margin: 1em 0;
	background-color: black;
	color: white;
	border: none;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;

}

/*SINGLE-POST-PAGE*/

.blog-content{
		padding:6em 2em;
	}

.single-post-title{
	font-weight: 600;
	margin-top: 1em;
	font-size:28px;
	line-height: 1.2;
}

.single-post-title-underline{
	height: 5px;
	background-color: black;
	margin-top:1em;
	margin-bottom:2em;
}

.single-post-introtext-underline{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top:3em;
	margin-bottom:1em;
}

#single-post p{
	margin-bottom:1em;
}

.size-full{
	height: auto;
	margin-top:1em;
	margin-bottom: 1em;
}

/*CONTACT-PAGE*/

.contact-page-title{
	padding-top: 1em;
	padding-bottom: 0.15em;
	font-size:40px;
	opacity: 0.6;
    color: #666;
	width: 100%;

}

.contact-page-sub-title{
	padding-bottom: 0.5em;
	font-size:30px;
}

.contact-page-headers-container{
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}

form.contact-form{
	max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */

  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	display: block;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
	transition: 0.5s ease;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
	color:black;
	border:1px solid black;
}

/* Add a background color and some padding around the form */
.contact-form-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5em 1.2em;
}

/*ABOUT PAGE*/
.about-page-container{
padding: 1em 1em;
}

.about-page-title{
text-align: center;
padding:3.5em 0 1.5em 0;
    font-size: 1.8em;
}

.about-page-image{
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #DBDBDB;
}

.about-page-text{
	padding-bottom:1em;
	line-height: 1.4;
}


/*CINQTONALITeS*/

.cinqtonalites-container{

	width: 35%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)

}

.cinqtonalites-image{
	transform: rotate(-90deg);
	width: 50%
}

.cinq-tonalités-title{font-size: 1.2em}
.coming-soon{color: #666 ; font-size: 1em}



/*TABLET*/
@media screen and (min-width: 40em){



	.nav-bg{
		height:7em;
	}

	.works-container{
		display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
		padding-bottom: 5em;
		padding-top: 2em;
		z-index: -1;
		opacity: 0;
		transition:all 0.6s ease;
	}

	.work:nth-child(1) {
    grid-column-start: 2;
		grid-column-end:5;

	}

	.work:nth-child(2n+1){
		grid-column-start: 2;
		grid-column-end:5;

	}

	.work:nth-child(2n+2){

		grid-column-start:1;
		grid-column-end:3;



	}


	.burger-menu-line-1{
	width:40px;
}

.burger-menu-line-2{
	width:40px;
}


	img.social-link{
  width: 40px;
	padding:0.3em;
}

	.social-link-a{
		width:40px;
		display: inline;
	}



	/*ABOUT PAGE - TABLET */

	.about-page-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.about-page-image{
		width: 75%;
		padding-right: 5em;
		margin-left: auto;
		margin-right: auto;
		border-bottom: 0;
		border-right: 1px solid black;
	}

	.about-page-text{
		padding:2em;
	}



	.blog-container{
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;
	}

	.size-full{
		width: 100%;
	}

	.blog-content{
	}



}


/*DESKTOP*/
@media screen and (min-width: 60em){



	.logo{
		width:215px;
    top:2.3em;
	}

	.openbtn{
		top:3em;
	}



	.burger-menu-line-1{
	width:60px;
	height:4px;
}

.burger-menu-line-2{
	width:60px;

}

    .overlay-content{margin-top: 80px}


	.work{
		position: relative;
	}
    .works-container{margin: 10px}

    .work-image {
    width: 94%;}

	.work-credits{
		/*		opacity: 0;*/
		padding:0em 0;
        margin-left: 20px;
	}

	.work-credits:hover{
		opacity:1;
		padding:2em;

	}

	.work-overlay{
		display: block;
		z-index: 0;
		position: absolute;
	}


	img.social-link{
  width: 50px;
	padding:0.5em;

}

	img.social-link:hover{
	width:55px;
	}

	.social-link-a{
		width:100px;



	}
    .social-navigation-links{width: 30%}

	.social-link-a:hover{
		width:55px;

	}

    .about-page-image{width: 65%;}
    .about-page-text{margin-top: 100px; margin-right: 50px; padding: 0;
    line-height: 30px;
    font-size: 0.9em}
	.blog-container{
		display: flex;
		max-width: 100%;

	}

	.blog-post-container{
		flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
	}

    .featured-post{
	position: relative;
	width: 87%;
  padding: 0px;
	height: 80vh;
  margin-left: 65px;
  margin-top: 120px;
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  top:7.5em;
}

	.featured-post-container{
		width: 50vw;
    float: left;
		z-index: 3;
		}



	.post-container{
		margin-top: 6.2em;
        margin-right: 55px;
        padding: 5px;

	}

	.post-container{

		flex:1;
		float: right;
	}

	.contact-page-title{
		text-align: center;
		padding-top: 0;
	}

	.contact-page-sub-title{
		text-align: center;
	}

	.contact-form{
		display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1060px !important;
	}

	.contact-form-left{
		border-right: 1px solid black;
		padding-right: 5em;
		width: 40vw;
	}

	.blog-content{
		padding: 10em 8em;
	}

	#single-post{
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items:center;
	}

	.single-post-title{
		grid-column-start:2;
	}

	.single-post-content{
		padding-top: 2em;
		grid-column-start:1;
		grid-column-end: 3;
	}

	.single-post-content p{
		width: 75%;
    margin-left: auto;
    margin-right: auto;
	}

	.size-full{
		width:60%;
		float: right;
		padding:5em;
	}
	.single-post-introtext-underline{
		display: none;
	}

	.single-post-headers{
		padding:2em;
		padding-bottom: 3em;
	}


	input[type=submit]{
		margin-left: 10em;
	}

		.down-arrow{
		display: block;
		position: absolute;
		bottom: 3%;
		left:85%;
		transform: translateX(-50%);
		animation: jump 1.5s alternate infinite;
	}


	@keyframes jump{

            to{
                transform: translate(-50%,-15px);
            }

    .cinqtonalites-image{width: 30%;}
    .cinq-tonalités-title{font-size: 1.6em}
.coming-soon{color: #666 ; font-size: 1.3em}



}
}
